.platform-post{
	margin-top: 150px;
}

.platform-post .plat-form-text{
	width: 100%;
	border-radius: 20px;
	box-shadow: 0 0 25px -10px grey;
	padding: 20px;
	padding-top: 80px;
	padding-left: 40px;
	margin: 50px 0;
	position: relative;
}
.platform-post .plat-form-text:hover{
	box-shadow: 0 0 25px -5px grey;

}

.platform-post .plat-form-text .platform-post-num{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background: #47BBED;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -60px;
	left: 50%;
	transform: translate(-50%);
}

.platform-post .plat-form-text .platform-post-num h3{
	font-size: 45px;
	font-weight: 600;
	color: #fff;
}
.platform-post .plat-form-text h1{
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
}


.platform-post .plat-form-text ul li{
	font-size: 22px;
	font-weight: 500;
	text-transform: capitalize;
	list-style: none;
	line-height: 1.6;
	position: relative;
}

.platform-post .plat-form-text ul li:after{
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #47BBED;
	position: absolute;
	left: -25px;
	top: 10px;

}





@media screen and (max-width: 1199px){

.platform-post .plat-form-text h1{
	font-size: 26px;
}


.platform-post .plat-form-text ul li{
	font-size: 20px;
	font-weight: 500;
}

}


@media screen and (max-width: 575px){
.platform-post .plat-form-text{
	padding-top:  60px;
	padding-right: 0;
	padding-left: 20px;
}

.platform-post .plat-form-text .platform-post-num{
	width: 80px;
	height: 80px;
	top: -40px;
}

.platform-post .plat-form-text .platform-post-num h3{
	font-size: 30px;
	font-weight: 600;
	color: #fff;
}


.platform-post .plat-form-text h1{
	font-size: 18px;
}


.platform-post .plat-form-text ul li{
	font-size: 16px;
}

.platform-post .plat-form-text ul li:after{
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #47BBED;
	position: absolute;
	left: -15px;
	top: 7px;

}

}
